NET "CLKIN" TNM_NET = "CLKIN";
TIMESPEC "TS_CLKIN" = PERIOD "CLKIN" 7.0 ns HIGH 50 %;

NET "CLKIN"  LOC = "p181"   | IOSTANDARD = LVTTL ;
NET "LED100"  LOC = "p5"   | IOSTANDARD = LVTTL ;
NET "LED1000"  LOC = "p46"   | IOSTANDARD = LVTTL ;
NET "LEDACT"  LOC = "p2"   | IOSTANDARD = LVTTL ;
NET "LEDDPX"  LOC = "p51"   | IOSTANDARD = LVTTL ;
NET "LEDPOWER"  LOC = "p52" | IOSTANDARD = LVTTL   ;
NET "LEDRX"  LOC = "p4"   | IOSTANDARD = LVTTL ;
NET "LEDTX"  LOC = "p3"   | IOSTANDARD = LVTTL ;

NET "PHYRESET"  LOC = "p39"  | IOSTANDARD = LVTTL  ;
