
NET "clk" TNM_NET = "clk";
TIMESPEC "TS_clk" = PERIOD "clk" 7.300ns;

NET "RX_CLK" TNM_NET = "RX_CLK";
TIMESPEC "TS_RX_CLK" = PERIOD "RX_CLK" 7.0ns;
NET "clkio" TNM_NET = "clkio";
TIMESPEC "TS_clkio" = PERIOD "clkio" 13ns;
#PACE: Start of Constraints extracted by PACE from the Design
NET "clkin" LOC = "p182"  ;
NET "clkioin" LOC = "p185"  ;
NET "din<0>" LOC = "p22"  ;
NET "din<1>" LOC = "p21"  ;
NET "din<2>" LOC = "p20"  ;
NET "din<3>" LOC = "p18"  ;
NET "din<4>" LOC = "p17"  ;
NET "din<5>" LOC = "p16"  ;
NET "din<6>" LOC = "p15"  ;
NET "din<7>" LOC = "p11"  ;
NET "din<8>" LOC = "p10"  ;
NET "din<9>" LOC = "p9"  ;
NET "din<10>" LOC = "p8"  ;
NET "din<11>" LOC = "p7"  ;
NET "din<12>" LOC = "p6"  ;
NET "din<13>" LOC = "p5"  ;
NET "din<14>" LOC = "p4"  ;
NET "din<15>" LOC = "p3"  ;
NET "dout<0>" LOC = "p187"  ;
NET "dout<1>" LOC = "p188"  ;
NET "dout<2>" LOC = "p189"  ;
NET "dout<3>" LOC = "p191"  ;
NET "dout<4>" LOC = "p192"  ;
NET "dout<5>" LOC = "p193"  ;
NET "dout<6>" LOC = "p194"  ;
NET "dout<7>" LOC = "p198"  ;
NET "dout<8>" LOC = "p199"  ;
NET "dout<9>" LOC = "p200"  ;
NET "dout<10>" LOC = "p201"  ;
NET "dout<11>" LOC = "p202"  ;
NET "dout<12>" LOC = "p203"  ;
NET "dout<13>" LOC = "p204"  ;
NET "dout<14>" LOC = "p205"  ;
NET "dout<15>" LOC = "p206"  ;
NET "douten" LOC = "p30"  ;
NET "gtx_clk" LOC = "p56"  ;
NET "ma<0>" LOC = "p174"  ;
NET "ma<2>" LOC = "p176"  ;
NET "ma<3>" LOC = "p178"  ;
NET "ma<4>" LOC = "p179"  ;
NET "ma<5>" LOC = "p180"  ;
NET "ma<6>" LOC = "p164"  ;
NET "ma<7>" LOC = "p165"  ;
NET "ma<8>" LOC = "p166"  ;
NET "ma<9>" LOC = "p167"  ;
NET "ma<10>" LOC = "p173"  ;
NET "ma<11>" LOC = "p169"  ;
NET "ma<13>" LOC = "p163"  ;
NET "ma<14>" LOC = "p162"  ;
NET "ma<15>" LOC = "p161"  ;
NET "ma<16>" LOC = "p160"  ;
NET "mclk" LOC = "p108"  ;
NET "md<0>" LOC = "p154"  ;
NET "md<1>" LOC = "p152"  ;
NET "md<2>" LOC = "p149"  ;
NET "md<3>" LOC = "p148"  ;
NET "md<4>" LOC = "p147"  ;
NET "md<5>" LOC = "p146"  ;
NET "md<6>" LOC = "p138"  ;
NET "md<7>" LOC = "p136"  ;
NET "md<8>" LOC = "p133"  ;
NET "md<9>" LOC = "p132"  ;
NET "md<10>" LOC = "p126"  ;
NET "md<11>" LOC = "p125"  ;
NET "md<12>" LOC = "p123"  ;
NET "md<13>" LOC = "p122"  ;
NET "md<14>" LOC = "p114"  ;
NET "md<15>" LOC = "p113"  ;
NET "md<16>" LOC = "p111"  ;
NET "md<17>" LOC = "p112"  ;
NET "md<18>" LOC = "p115"  ;
NET "md<19>" LOC = "p116"  ;
NET "md<20>" LOC = "p120"  ;
NET "md<21>" LOC = "p121"  ;
NET "md<22>" LOC = "p127"  ;
NET "md<23>" LOC = "p129"  ;
NET "md<24>" LOC = "p134"  ;
NET "md<25>" LOC = "p135"  ;
NET "md<26>" LOC = "p139"  ;
NET "md<27>" LOC = "p140"  ;
NET "md<28>" LOC = "p141"  ;
NET "md<29>" LOC = "p145"  ;
NET "md<30>" LOC = "p150"  ;
NET "md<31>" LOC = "p151"  ;
NET "mwe" LOC = "p109"  ;
NET "newframe" LOC = "p27"  ;
NET "nextframe" LOC = "p29"  ;
NET "rxd<0>" LOC = "p70"  ;
NET "rxd<1>" LOC = "p71"  ;
NET "rxd<2>" LOC = "p73"  ;
NET "rxd<3>" LOC = "p74"  ;
NET "rxd<4>" LOC = "p75"  ;
NET "rxd<5>" LOC = "p81"  ;
NET "rxd<6>" LOC = "p82"  ;
NET "rxd<7>" LOC = "p83"  ;
NET "rx_clk" LOC = "p80"  ;
NET "rx_dv" LOC = "p84"  ;
NET "rx_er" LOC = "p86"  ;
NET "txd<0>" LOC = "p57"  ;
NET "txd<1>" LOC = "p58"  ;
NET "txd<2>" LOC = "p59"  ;
NET "txd<3>" LOC = "p60"  ;
NET "txd<4>" LOC = "p61"  ;
NET "txd<5>" LOC = "p62"  ;
NET "txd<6>" LOC = "p63"  ;
NET "txd<7>" LOC = "p64"  ;
NET "tx_en" LOC = "p68"  ;
