NET "clkin" TNM_NET = "clkin";
TIMESPEC "TS_clkin" = PERIOD "clkin" 7.3 ns HIGH 50 %;
NET "clksl" TNM_NET = "clksl";
TIMESPEC "TS_clksl" = PERIOD "clksl" 30 ns HIGH 50 %;
NET "clk_to_bufg" TNM_NET = "clk_to_bufg";
TIMESPEC "TS_clk_to_bufg" = PERIOD "clk_to_bufg" 7.2 ns HIGH 50 %;
																			
NET "CLKIN"  LOC = "p182"  ;
NET "GTX_CLK"  LOC = "p56"  ;
NET "MA<0>"  LOC = "p174"  ;
NET "MA<10>"  LOC = "p173"  ;
NET "MA<11>"  LOC = "p169"  ;
NET "MA<13>"  LOC = "p163"  ;
NET "MA<14>"  LOC = "p162"  ;
NET "MA<15>"  LOC = "p161"  ;
NET "MA<16>"  LOC = "p160"  ;
NET "MA<2>"  LOC = "p176"  ;
NET "MA<3>"  LOC = "p178"  ;
NET "MA<4>"  LOC = "p179"  ;
NET "MA<5>"  LOC = "p180"  ;
NET "MA<6>"  LOC = "p164"  ;
NET "MA<7>"  LOC = "p165"  ;
NET "MA<8>"  LOC = "p166"  ;
NET "MA<9>"  LOC = "p167"  ;
NET "MCLK"  LOC = "p108"  ;
NET "MD<0>"  LOC = "p154"  ;
NET "MD<10>"  LOC = "p126"  ;
NET "MD<11>"  LOC = "p125"  ;
NET "MD<12>"  LOC = "p123"  ;
NET "MD<13>"  LOC = "p122"  ;
NET "MD<14>"  LOC = "p114"  ;
NET "MD<15>"  LOC = "p113"  ;
NET "MD<16>"  LOC = "p111"  ;
NET "MD<17>"  LOC = "p112"  ;
NET "MD<18>"  LOC = "p115"  ;
NET "MD<19>"  LOC = "p116"  ;
NET "MD<1>"  LOC = "p152"  ;
NET "MD<20>"  LOC = "p120"  ;
NET "MD<21>"  LOC = "p121"  ;
NET "MD<22>"  LOC = "p127"  ;
NET "MD<23>"  LOC = "p129"  ;
NET "MD<24>"  LOC = "p134"  ;
NET "MD<25>"  LOC = "p135"  ;
NET "MD<26>"  LOC = "p139"  ;
NET "MD<27>"  LOC = "p140"  ;
NET "MD<28>"  LOC = "p141"  ;
NET "MD<29>"  LOC = "p145"  ;
NET "MD<2>"  LOC = "p149"  ;
NET "MD<30>"  LOC = "p150"  ;
NET "MD<31>"  LOC = "p151"  ;
NET "MD<3>"  LOC = "p148"  ;
NET "MD<4>"  LOC = "p147"  ;
NET "MD<5>"  LOC = "p146"  ;
NET "MD<6>"  LOC = "p138"  ;
NET "MD<7>"  LOC = "p136"  ;
NET "MD<8>"  LOC = "p133"  ;
NET "MD<9>"  LOC = "p132"  ;
NET "MWE"  LOC = "p109"  ;
NET "TX_EN"  LOC = "p68"  ;
NET "TXD<0>"  LOC = "p57"  ;
NET "TXD<1>"  LOC = "p58"  ;
NET "TXD<2>"  LOC = "p59"  ;
NET "TXD<3>"  LOC = "p60"  ;
NET "TXD<4>"  LOC = "p61"  ;
NET "TXD<5>"  LOC = "p62"  ;
NET "TXD<6>"  LOC = "p63"  ;
NET "TXD<7>"  LOC = "p64"  ;

